@charset "utf-8";

html, body{font-size:16px;-webkit-tap-highlight-color:transparent !important}
body{overflow-x:hidden;}
.wrap{position:relative;}
html, body, .wrap, .main_container, .fullscreen{width:100%;height:100%;}
/* .inner{width:1180px;} */

/* 본문내용 */
.main_container{position:relative;overflow:hidden;z-index:1;}
.container{position:relative;overflow:hidden;z-index:1;}

/* 상단 */
#header_wrap{position:fixed;top:0;left:0;width:100%;z-index:20;}
#header_wrap.on{display:none;}
.header{position:relative;height:100px;}
.header .logo{position:absolute;top:45px;left:60px;z-index:20;}
.header .logo a{display:block;width:128px;height:24px;background:url('/2022main/images/logo.svg') no-repeat 0 0/100%;}
.header .logo a.on{background-image:url('/2022main/images/logo_black.svg');}

.gnb{position:relative;display:flex;justify-content:center;}
.gnb > ul{position:relative;display:flex;margin-left:80px;z-index:10;}
.gnb > ul li .dep1{display:inline-block;font-size:20px;font-weight:500;color:#fff;padding-right:80px;line-height:100px;}
.gnb > ul li .dep1.on{color:#222;}
.gnb > ul li .dep1.active{color:#00A0E7;}
.gnb > ul li > .dep2{display:none;}
.gnb > ul li > .dep2 li{float:none;}
.gnb > ul li > .dep2 li a{display:block;color:#707070;padding:6px 0;}
.gnb > ul li > .dep2 li a:hover{font-weight:500;color:#444;text-decoration:underline;}
.gnb .gnb_bg{position:absolute;top:0;left:0;width:100%;height:0;background:#fff;z-index:0;transition:all 0.3s ease-in-out;}
.gnb .gnb_bg.on{height:380px;box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.1);-webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.1);}

.header .util{position:absolute;top:45px;right:60px;display:flex;z-index:20;}
.header .util a{display:inline-block;font-size:14px;color:#fff;padding-left:20px;}
.header .util a.on{color:#444;}



/* 서브상단 */
#header_wrap.sub_header{background:#444;}

/* 모바일 메뉴 open */
.btn_nav_open{display:none;width:48px;height:48px;background:url('/2022main/images/ico_nav.png') no-repeat 50% 50%/50%;}

.mo_nav_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:999;transition:all 0.1s ease-in-out;visibility:hidden;}
.mo_nav_wrap.on{visibility:visible;}
.mo_nav_wrap .mo_nav_inner{position:absolute;left:auto;right:-100%;width:100%;height:100%;padding:0 20px;background-color:#0b0b0d;transition:all 0.3s ease-in-out;opacity:0;}
.mo_nav_wrap.on .mo_nav_inner{left:auto;right:0;visibility:visible;opacity:1;}

.mo_nav_wrap .mo_nav_inner .mo_top{position:relative;height:70px;padding:20px 0;}
.mo_nav_wrap .mo_nav_inner .mo_top .logo{float:left;}
.mo_nav_wrap .mo_nav_inner .mo_top .logo a{display:block;width:103px;height:30px;background:url('/2022main/images/logo.png') no-repeat 0 0/100%;}
.mo_nav_wrap .mo_nav_inner .mo_top .btn_close{display:block;position:absolute;width:36px;height:36px;right:-9px;top:16px;background:url('/2022main/images/ico_close.png') no-repeat 50% 50%/50%;}

.mo_nav_wrap .mo_nav_inner .mo_gnb a{display:block;font-size:18px;color:#fff;line-height:80px;}

.mo_nav_wrap .mo_nav_inner .mo_custmer{padding-top:15px;margin-top:20px;border-top:1px solid #3c3c3d;}
.mo_nav_wrap .mo_nav_inner .mo_custmer dt{display:block;font-size:14px;color:#fff;font-weight:400;margin-top:35px;}
.mo_nav_wrap .mo_nav_inner .mo_custmer dd{display:block;font-size:14px;color:#b9b9b9;font-weight:350;margin-top:10px;}

/* 하단 */
#footer_wrap{width:100%;height:100%;}
.footer_category{position:relative;padding:50px 0;background:#eee;}
.footer_category ul{display:flex;justify-content:space-between;width:1168px;margin:0 auto;}
.footer_category ul li h3{font-size:18px;font-weight:700;color:#222;margin-bottom:5px;}
.footer_category ul li a{display:block;padding:3px 0;}
.footer_category ul li a:hover{color:#222;text-decoration:underline;}
.footer{position:relative;width:1168px;margin:0 auto;padding-bottom:80px;}
.footer .ft_logo{position:absolute;top:50px;right:0;width:128px;height:24px;background:url('/2022main/images/logo_black.svg') no-repeat 0 0/100%;}
.footer .ft_info1{padding-top:50px;}
.footer .ft_info1 a{display:inline-block;padding-right:20px;color:#444;font-weight:700;}
.footer .ft_info2{margin-top:40px;font-size:14px;}
.footer .ft_info2 .tel span{display:inline-block;margin-right:10px;letter-spacing:0.2px;}

/* 하단 */
.footer_section{display:flex;width:100%;align-items:flex-end;}




/********************* 반응형 ***********************/
@media all and (max-width:1920px) {
}

@media all and (max-width:1550px) {
    .footer{margin-top:80px;}
    .footer dt{margin-bottom:0;}
}

@media all and (max-width:1440px) {
    /* 상단 */
    .header .logo{width:auto;}
    .header .gnb ul li a{padding:0 25px;}
    .header .gnb ul li a.on:after{width:70%;}
    .header .gnb ul li:nth-child(3) a:before{right:14%;}
}

@media all and (max-width:1024px) {
    /* 상단 */
    .header{width:calc(100% - 80px);}
    .header .gnb ul li a{padding:0 14px;}
    .header .gnb ul li a.on:after{width:80%;}
    .header .gnb ul li:nth-child(3) a:before{right:7%;}

    .footer{position:relative;width:calc(100% - 80px);}
}

@media all and (max-width:980px) {
    /* PC 네비 */
    .header{display:block;height:70px;}
    .header .logo{float:left;margin-top:20px;}
    .header .gnb{display:none;}

    /* MO 네비 */
    .btn_nav_open{display:block;position:absolute;top:16px;right:0;}

     /* 하단 */
    .footer{margin-top:40px;}
    .footer .ft_info1{width:15%;}
    .footer .ft_info2 dd{width:100%;}
}

@media all and (max-width:800px) {   
    /* 하단 */ 
    #footer_wrap{height:470px;}
    .footer{display:block;font-size:14px;overflow:hidden;}
    .footer .ft_info1{float:left;width:50%;}
    .footer .ft_info2{float:left;width:50%;}
}
    

/* 모바일 */
@media all and (max-width:720px) {

}

@media all and (max-width:640px) {
    /* 상단 */ 
    .header{width:calc(100% - 40px);}
    .header .logo a{width:103px;}
    .btn_nav_open{top:10px;right:-6px;}

    /* 하단 */ 
    #footer_wrap{height:520px;}
    .footer{width:calc(100% - 40px);font-size:12px;margin-top:73px;}
    .footer .ft_info1{float:none;width:100%;}
    .footer .ft_info2{float:none;width:100%;margin-top:46px;}

}

@media all and (max-width:480px) {
    #footer_wrap{height:550px;}
}

@media all and (max-width:360px) {
    
}

