@charset "utf-8";

html, body{font-size:16px;-webkit-tap-highlight-color:transparent !important}
body{overflow-x:hidden;}
.wrap{position:relative;}
html, body, .wrap, .main_container, .fullscreen{width:100%;height:100%;}
/* .inner{width:1180px;} */

/* 본문내용 */
.main_container{position:relative;overflow:hidden;z-index:1;}
.container{position:relative;overflow:hidden;z-index:1;}

/* 상단 */
#header_wrap{position:fixed;top:0;left:0;width:100%;z-index:20;}
#header_wrap.on{display:none;}
.header{position:relative;height:100px;}
.header .logo{position:absolute;top:40px;left:60px;z-index:20;}
.header .logo a{display:block;width:154px;height:24px;background:url('../../2022main/images/logo.svg') no-repeat 0 0/100%;}
.header .logo a.on{background-image:url('../../2022main/images/logo_black.svg');}

.gnb{position:relative;display:flex;justify-content:center;}
.gnb > ul{position:relative;display:flex;margin-left:80px;z-index:10;}
.gnb > ul li .dep1{display:inline-block;font-size:20px;font-weight:500;color:#fff;padding-right:80px;line-height:100px;}
.gnb > ul li .dep1.on{color:#222;}
.gnb > ul li .dep1.active{color:#00A0E7;}
.gnb > ul li > .dep2{display:none;}
.gnb > ul li > .dep2 li{float:none;}
.gnb > ul li > .dep2 li a{display:block;color:#707070;padding:6px 0;}
.gnb > ul li > .dep2 li a:hover{font-weight:500;color:#444;text-decoration:underline;}
.header .gnb_bg{position:absolute;top:0;left:0;width:100%;height:0;background:#fff;z-index:0;transition:height 0.3s ease-in-out;}
.header .gnb_bg.on{height:380px;box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.1);-webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.1);}

.header .util{position:absolute;top:40px;right:60px;display:flex;z-index:20;}
.header .util a{display:inline-block;font-size:14px;color:#fff;padding-left:20px;}
.header .util a.on{color:#444;}

/* 하단 */
#footer_wrap{width:100%;height:100%;}
.footer_category{position:relative;padding:50px 0;background:#eee;}
.footer_category ul{display:flex;justify-content:space-between;width:1168px;margin:0 auto;}
.footer_category ul li h3{font-size:18px;font-weight:700;color:#222;margin-bottom:5px;}
.footer_category ul li a{display:block;padding:3px 0;}
.footer_category ul li a:hover{color:#222;text-decoration:underline;}
.footer{position:relative;width:1168px;margin:0 auto;padding-bottom:80px;}
.footer .ft_logo{position:absolute;top:50px;right:0;width:154px;height:24px;background:url('../../2022main/images/logo_black.svg') no-repeat 0 0/100%;}
.footer .ft_info1{padding-top:50px;}
.footer .ft_info1 a{display:inline-block;padding-right:20px;color:#444;font-weight:500;}
.footer .ft_info1 a:hover{text-decoration:underline;}
.footer .ft_info1 a strong{font-weight:800;}
.footer .ft_info2{margin-top:40px;font-size:14px;}
.footer .ft_info2 .tel span{display:inline-block;margin-right:10px;letter-spacing:0.2px;}

/* 하단 */
.footer_section{display:flex;width:100%;align-items:flex-end;}




/********************* 반응형 ***********************/
@media all and (max-width:1920px) {
}

@media all and (max-width:1600px) {
}

@media all and (max-width:1440px) {
    /* 상단 */
    .gnb > ul{margin-left:50px;}
    .gnb > ul li .dep1{padding-right:50px;}

    /* 하단 */
    .footer_category ul{width:90%;}
    .footer{width:90%;}
}

@media all and (max-width:1280px) {
}

@media all and (max-width:1024px) {
}

@media all and (max-width:980px) {
    /* PC 네비 */
    /* .header{display:block;} */

    /* MO 네비 */
    /* .btn_nav_open{display:block;position:absolute;top:16px;right:0;} */
}

@media all and (max-width:800px) {
    /* .footer .ft_logo{position:relative;margin-bottom:40px;}
    .footer .ft_info2{margin-top:20px;} */
}
    

/* 모바일 */
@media all and (max-width:720px) {
    /* .footer_category ul li h3{font-size:16px;}
    .footer_category ul li a{font-size:14px;} */
}

@media all and (max-width:640px) {
    /* .footer_category{padding:20px 0 30px;}
    .footer_category ul{flex-wrap:wrap;}
    .footer_category ul li{width:33.3%;margin-top:20px;}
    .footer_category ul li a{padding:1px 0;}
    .footer .ft_info1 a{font-size:14px;padding-right:10px;}
    .footer .ft_info2{font-size:13px;} */
}

@media all and (max-width:480px) {

}

@media all and (max-width:360px) {
    
}

