@charset "utf-8";

/* 풀페이지 */
.fullscreen {
    position: relative;
}
.fullscreen > .swiper-wrapper .swiper-slide {
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.fullscreen > .swiper-wrapper .swiper-slide img {
    position: absolute;
    top: 0; 
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* 풀페이지 - pagination */
.fullscreen .swiper-pagination{width:50px;}
.swiper-container-vertical>.swiper-pagination-bullets{left:5%;right:0;}
.fullscreen .swiper-pagination-bullet{position:relative;background:#fff !important;opacity:.4 !important;}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:50px 0 !important;}
.fullscreen .swiper-pagination-bullet-active{background:#fff !important;opacity:1 !important;}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet:before{content:'';display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:30px;height:30px;border-radius:50%;transition:all .3s;opacity:1;}
.fullscreen .swiper-pagination-bullet-active:before{content:'';display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:30px;height:30px;border-radius:50%;background-color:rgba(255,255,255,0.1);transition:all .3s;opacity:0;}
.swiper-container-vertical>.swiper-pagination-bullets span:last-child{display:none;}

@-webkit-keyframes topRotate {
    0% {
    	transform:rotate(0deg);
    }
	100% {
		transform:rotate(360deg);
	}
}
@keyframes topRotate {
    0% {
    	transform:rotate(0deg);
    }
	100% {
		transform:rotate(360deg);
	}
}

/* 메인비주얼 */
.mainvisual {
    width: 100%;
    height: 100%;
}
.mainvisual > .swiper-wrapper .swiper-slide {
    position: relative;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}  
.mainvisual > .swiper-wrapper .swiper-slide img {
    position: absolute;
    top: 0; 
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transform: scale(1.1);
    -webkit-transition: transform 5s ease;
    transition: transform 5s ease;
}
.mainvisual > .swiper-wrapper .swiper-slide-active img {
    transform: scale(1); 
    transition-delay: 1s;
}

.mainvisual .bg_visual_bi01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: url('../../2022main/images/bg_visual_bi01.png') no-repeat;
    z-index: 10;
}
.mainvisual .bg_visual_bi02 {
    margin-left: 50%;
    width: 403px;
    height: 447px;
    background: url('../../2022main/images/bg_visual_bi02.png') no-repeat;
    z-index: 10;
}
  
/* 메인비주얼 - 텍스트 */
.mainvisual .swiper-slide .title, 
.mainvisual .swiper-slide .text {
    position: absolute;
    width: 1180px;
    top: 30%;
    /* left: 19%; */
    color: #fff;
    z-index: 10;
    opacity: 0;
    transform: translateX(100px);
    -webkit-transition: all 0.7s ease; 
    transition: all 0.7s ease;
} 
.mainvisual .swiper-slide .title {
    font-size: 84px;
    font-weight: 600;
    line-height: 110px;
}
.mainvisual .swiper-slide .title span {
    display: block;
}
.mainvisual .swiper-slide .text {
    font-size: 22px;
    top: 60%;
} 
.mainvisual .swiper-slide-active .title, 
.mainvisual .swiper-slide-active .text {
    opacity: 1;
    transform: translateX(0);
}
.mainvisual .swiper-slide-active .text {
    transition-delay: 0.4s;
}
.mainvisual .swiper-slide .title.one {
    font-size: 80px;
}
.mainvisual .swiper-slide .title.one span {
    font-size: 120px;
}
  
/* 메인비주얼 - 유틸박스 */
.mainvisual .util-box{
    position: relative;
    width: 1180px;
    left: 50% !important;
    transform:translateX(-50%);
    z-index:10;
}
  
/* 메인비주얼 - 이전, 다음 버튼 */
.mainvisual .swiper-button-next, 
.mainvisual .swiper-button-prev {
    color: #fff !important;
    transition:all .3s ease;
    top:auto !important;
    bottom:70px !important;  
}
.mainvisual .swiper-button-prev {
    margin-left: 350px;
}  
.mainvisual .swiper-button-next {
    margin-left: 420px;
    left: 0 !important;
}  
.mainvisual .swiper-button-next:after, 
.mainvisual .swiper-button-prev:after{
    font-size: 18px !important;
}
.mainvisual .swiper-button-next:hover, 
.mainvisual .swiper-button-prev:hover {
    transform:translateX(0);
    opacity:0.5;
}
  
/* 메인비주얼 - 숫자 페이지 */
.mainvisual .swiper-container-horizontal>.swiper-pagination-bullets, 
.mainvisual .swiper-pagination-custom, 
.mainvisual .swiper-pagination-fraction {
    left: 50% !important;
    transform: translateX(-50%);
    top: 25% !important;
    width: 1180px !important;
    color:rgba(999,999,999,0.6);
    font-size: 16px;
}
.mainvisual .swiper-pagination {
    text-align: left;
}
.mainvisual .swiper-pagination-current {
    font-size: 26px;
    font-weight: 700;
    color:#fff;
}
  
/* 메인비주얼 - play,stop 버튼 */
.mainvisual .swiper-play-pause {
    display: block;
    position: absolute;
    bottom: 94px;
    left: 388px;
    width: 12px;
    height: 12px;
    font-size:0;
    z-index:50;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}
.mainvisual .pause {
    background-image: url('../../2022main/images/icon/icon_stop_12.png');
}
.mainvisual .play {
    background-image: url('../../2022main/images/icon/icon_play_12.png');
}

/* 메인비주얼 - 동적스크롤바 */
.mainvisual .swiper-scrollbar {
    border-radius: 0 !important;
    background: rgba(999,999,999,0.3) !important;
    left: 0px !important;
    bottom: 100px !important;
    height: 4px !important;
    width: 340px !important;
    z-index: 50;
}  
.mainvisual .swiper-scrollbar .swiper-scrollbar-drag {
    border-radius: 0 !important;
    background: rgba(999,999,999,0.8) !important;
}  
.mainvisual .swiper-scrollbar .swiper-scrollbar-drag:after {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 0;
    content: "";
}
.mainvisual .swiper-scrollbar .swiper-scrollbar-drag.animate:after{
    width: 100%;
    -webkit-transition: width linear;
    transition: width linear;
    -webkit-transition-delay: unset;
            transition-delay: unset;
    -webkit-transition-duration: 5s;
            transition-duration: 5s;
}

/* 사업소개 */
.businessinfo-wrap {
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.businessinfo-wrap:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 28%;
    width : 260px;
    height: 290px;
    background: url('../../2022main/images/bg_bi2.svg') no-repeat 0 0/100%;
    z-index: 10;
}
.businessinfo {
    width: 100%;
    height: 450px;
    margin: 150px 0 0 35% !important;
}
.businessinfo .swiper-slide {
    position: relative;
}
.businessinfo .swiper-slide figure img {
    max-width:100%;
    min-height:100%;
    transform:scale(1.1);
    transition:(50%, 50%);
    -webkit-transition: transform 5s ease;
    transition: transform 5s ease;
}

.businessinfo .swiper-slide-active figure img {
    transform:scale(1);
    transition-delay: 0.1s;
}

/* 탭메뉴 */
.businessinfo-wrap .business_nav {
    position: absolute;
    top: 20%;
    left: 10%;
}
.businessinfo-wrap .business_nav li {
    display: block;
}
.businessinfo-wrap .business_nav li a {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #777;
    padding: 20px 0;
}
.businessinfo-wrap .business_nav li.on a {
    color: #222;
}
.businessinfo-wrap .business_nav li a:after {
    content: '';
    position: absolute;
    bottom: 16px;
    left: 0;
    width : 0;
    height : 4px;
    background: #00A0E7;
    transition: all 0.2s ease;
}
.businessinfo-wrap .business_nav li.on a:after {
    width : 100%;
}

/* 텍스트 */
.businessinfo-wrap .business_text {
    position: relative;
    margin: 0 0 0 38% !important;
    z-index: 10;
}
.businessinfo-wrap .business_text li {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
    opacity: 0;
}
.businessinfo-wrap .business_text li h2 {
    font-size: 76px;
    line-height: 96px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #222;
}
.businessinfo-wrap .business_text li p { 
    font-size:24px;
    color: #777;
}
.businessinfo-wrap .business_text li.on {
    transform: translate(-30px, 0);
    opacity: 1;
}
.businessinfo-wrap .business_text .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 840px;
    margin-top: 560px;
}
.businessinfo-wrap .business_text .btn_fill_gray {
    float: right;
    padding: 26px 120px 26px 76px;
}


/* 기업소개 */
.section03 {
    position: relative;
    width: 100%;
    height: 100%;
    background: #00A0E7;
}
.section03:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1180px;
    height: 162px;
    background: url('../../2022main/images/bg_bi.svg') no-repeat 0 0/100%;
    z-index: 0;
}
.companyinfo {
    width: 1180px;
    margin: 80px auto 0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 10;
}
.companyinfo .info_txt {
    
}
.companyinfo .info_txt .title {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;;
    color: #fff;
}
.companyinfo .info_txt .title span { 
    font-size: 60px;
}
.companyinfo .info_txt .text {
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}
.companyinfo .info_txt .btn_fill_gray {
    margin-top: 90px;
}
.companyinfo .info_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}
.companyinfo .info_box li {
    position: relative;
    width: 340px;
    height: 260px;
    margin: 0 0 40px 40px;
}
.companyinfo .info_box .box {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.13);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.13);
    transition: all 0.5s;
}
.companyinfo .info_box .box:hover {
    background: #444;
    color: #fff;
}
.companyinfo .info_box .box:hover .title {
    color: #fff;
}
.companyinfo .info_box .box:after {
    content: '';
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
}
.companyinfo .info_box .box01:after {
    background:url('../../2022main/images/icon/icon_company01.png') no-repeat bottom right/100%;
}
.companyinfo .info_box .box02:after {
    background:url('../../2022main/images/icon/icon_company02.png') no-repeat bottom right/100%;
}
.companyinfo .info_box .box03:after {
    background:url('../../2022main/images/icon/icon_company03.png') no-repeat bottom right/100%;
}
.companyinfo .info_box .box04:after {
    background:url('../../2022main/images/icon/icon_company04.png') no-repeat bottom right/100%;
}
.companyinfo .info_box .box a {
    display: block;
    padding: 30px;
}
.companyinfo .info_box .box .title {
    display: block;
    font-size: 34px;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
}
.companyinfo .info_box .box .text {
    display: block;
}

/* 메인배너 */
.mainbanner {
    width: 100%;
    height: 100%;
}
.mainbanner li {
    position: relative;
    width: 100%;
    height: 55%;
}
.mainbanner li:nth-child(2) {
    height: 45%;
}
.mainbanner .banner_box {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}
.mainbanner .banner_box .title {
    display: block;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}
.mainbanner li:first-child .banner_box .title {
    margin-top: 100px;
}
.mainbanner .banner_box .text {
    display: block;
    font-size: 20px;
    color: #fff;    
    margin-top: 5px;
}
.mainbanner .banner_box .btn_fill_gray {
    padding: 15px 86px 15px 50px;
    margin-top: 50px;    
}

/* 스크롤다운 */
.fullscreen .scroll_down{position:absolute;width:14px;right:4%;bottom:0%;text-align:center;z-index:10;}
.fullscreen .scroll_down i{display:block;position:relative;width:2px;height:110px;background: rgba(255,255,255,0.3);}
.fullscreen .scroll_down i:after{content:'';position:absolute;left:50%;top:0;margin-left:-1px;width:2px;height:30px;background:#fff;-webkit-animation:scrollDown 1.3s linear both infinite;animation:scrollDown 1.3s linear both infinite;}
.fullscreen .scroll_down p{position:absolute;top:-20px;left:-8px;font-size:14px;font-weight:700;color:#fff;letter-spacing:0;transform:rotate(270deg);transform-origin:top left;white-space:nowrap;}

@-webkit-keyframes scrollDown {
    0% {
    	top: 0px;
    }
	100% {
		top: 80px;
	}
}
@keyframes scrollDown {
    0% {
    	top: 0px;
    }
	100% {
		top: 80px;
	}
}



/********************* 반응형 ***********************/
@media all and (max-width:1920px) {
}

@media all and (max-width:1600px) {
}

@media all and (max-width:1440px) {
    /* 메인비주얼 - 텍스트 */
    .mainvisual .bg_visual_bi01 {
        left: -20%;
    }
    .mainvisual .swiper-slide .title, 
    .mainvisual .swiper-slide .text {
        width: 100%;
        left: 10%;
    }

    /* 메인비주얼 - 유틸박스 */
    .mainvisual .util-box {
        width: 100%;
        left: 10% !important;
        transform:translateX(0);
    }

    /* 메인비주얼 - 숫자 페이지 */
    .mainvisual .swiper-container-horizontal>.swiper-pagination-bullets, 
    .mainvisual .swiper-pagination-custom, 
    .mainvisual .swiper-pagination-fraction {
        width: 100% !important;
        left: 10% !important;
        transform: translateX(0);
    }

    /* 기업소개 */
    .companyinfo {
        width: 100%;
        margin: 0 10%;        
    }
    .companyinfo .info_box li {
        width: 45%;
        height: 260px;
        margin: 0 0 20px 20px;
    }
    .companyinfo .info_box .box .title {
        font-size: 28px;
    }
    .companyinfo .info_txt .text {
        font-size: 16px;
    }
    .companyinfo .info_box .box a {
        padding: 20px;
    }
    .companyinfo .info_box .box01:after,
    .companyinfo .info_box .box02:after,
    .companyinfo .info_box .box03:after,
    .companyinfo .info_box .box04:after {
        background-size: 80%;
    }
}

@media all and (max-width:1280px) {
    .wrap, 
    #header_wrap {min-width: 1100px;}
}

@media all and (max-width:1024px) {
}

@media all and (max-width:980px) {
    .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:40px 0 !important;}
}

/* 모바일 */
@media all and (max-width:720px) {
    /* .swiper-container-vertical>.swiper-pagination-bullets{left:13px;}
    .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{width:6px;height:6px;margin:24px 0 !important;}
    .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet:before{width:20px;height:20px;}

    .fullscreen .swiper-slide .pc {display:none;}
    .fullscreen .swiper-slide .mo {display:block;} */
}

@media all and (max-width:640px) {
    /* .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{display:none !important;} */
}

@media all and (max-width:480px) {

}

@media all and (max-width:360px) {
}

